<%= form_with url: reports_authors_index_path, method: :get, local: true do |f| %>
  <div>
    <%= f.label :filter_by, "Filtrar por:" %>
    <%= f.select :filter_by, options_for_select([['Selecione um filtro',''],['Nome', 'name']], params[:filter_by]), {} %>
  </div>

  <div>
    <%= f.label :query, "Consulta" %>
    <%= f.text_field :query, value: params[:query] %>
  </div>

  <%= f.submit "Gerar relatório" %>
<% end %>