<% @authors.each do |author| %>
  <div id="<%= dom_id author %>">
    <hr>

    <h2><%= author.name %></h2>

    <dl>
      <dt>CPF:</dt>
      <dd><%= author.formatted_cpf %></dd>
    </dl>

    <h3>Books:</h3>
    <table>
      <thead>
      <tr>
        <th>Book</th>
        <th>ISBN</th>
        <th>Assembly</th>
      </tr>
      </thead>
      <tbody>
      <% author.books.each do |book| %>

        <tr>
          <td style="padding-right: 10px;">
            <%= book.title %></td>
          <td style="padding-right: 10px;">
            <%= book.isbn %></td>
          <td><%= book.assembly.name %></td>
        </tr>
      <% end %>
      </tbody>
    </table>

    <p><strong>Total books: </strong> books: <%= author.books.count %></p>
  </div>
<% end %>