<%= form_with(model: author) do |form| %>
  <% if author.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(author.errors.count, "error") %> prohibited this author from being saved:</h2>

      <ul>
        <% author.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div style="margin-left: 20px">
    <div class="mb-4">
      <label for="author_name" class="aria-label text-1xl tracking-tighter font-extrabold text-slate-900 dark:text-slate-100" style="display: block">Name</label>
      <input type="text" id="author_name" name="author[name]" value="<%= @author.name %>" class="form-input aria-label" style="color: white;width: 250px">
    </div>

    <div>
      <label for="author_cpf" class="aria-label text-1xl tracking-tighter font-extrabold text-slate-900 dark:text-slate-100" style="display: block">CPF</label>
      <input type="text" id="author_cpf" name="author[cpf]" value="<%= @author.cpf %>" class="form-input aria-label" style="color: white;width: 250px">
    </div>

    <div class="pt-3">
      <input type="submit" value="Submit" class="btn btn-primary">
    </div>
  </div>
<% end %>
