<%= form_with(model: author) do |form| %>
  <% if author.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(author.errors.count, "error") %> prohibited this author from being saved:</h2>

      <ul>
        <% author.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-3">
    <label for="author_name" class="aria-label text-1xl tracking-tighter font-extrabold text-slate-900 dark:text-slate-100" style="display: block">Name</label>
    <input type="text" id="author_name" name="author[name]" value="<%= @author.name %>" class="form-input aria-label" style="color: white;width: 250px">
  </div>

  <div>
    <label for="author_name" class="aria-label text-1xl tracking-tighter font-extrabold text-slate-900 dark:text-slate-100" style="display: block">CPF</label>
    <input type="text" id="author_cpf" name="author[name]" value="<%= @author.formatted_cpf %>" class="form-input aria-label" style="color: white;width: 250px">
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
