<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Report Supplier</title>
</head>
<body>
<h1>Report Supplier</h1>
<div id="suppliers">

  <% @suppliers.each do |supplier| %>
    <h2>Supplier: <%= supplier.name %> / Account: <%= supplier.account.number %> - <%=supplier.account.digit %> / CNPJ: <%= supplier.cnpj.to_s.gsub(/(\d{2})(\d{3})(\d{3})(\d{4})(\d{2})/, '\1.\2.\3/\4-\5') %></h2>
    <table border="1">
      <thead>
      <tr>
        <th>Author Name</th>
        <th>CPF</th>
        <th>Book Title</th>
        <th>ISBN</th>
        <th>Assembly</th>
      </tr>
      </thead>
      <tbody>
      <% supplier.parts.each do |part| %>
        <% part.assemblies.each do |assembly| %>
          <% assembly.book.each do |book| %>

            <tr>
              <td><%= book.author.name %></td>
              <td><%= book.author.formatted_cpf %></td>
              <td><%= book.title %></td>
              <td><%= book.isbn %></td>
              <td><%= assembly.name %></td>
            </tr>
          <% end %>
        <% end %>
      <% end %>
      </tbody>
    </table>
  <% end %>
</div>

</body>
</html>
