<div id="<%= dom_id book %>">
  <hr>
  <p class="my-0 font-heading font-medium">
    <strong>Title:</strong>
      <%= book.title %>
    </p>

  <p class="my-0">
      <strong>Author:</strong>
      <%= book.author.name %>
    </p>
  <p class="mb-0 font-heading font-medium">
      <strong>Assembly:</strong>
      <%= book.assembly.name %>
    </p>
  <p class="my-0">
      <strong>Isbn:</strong>
      <%= book.isbn %>
    </p>
</div>
