<div class="max-w-3xl mx-auto px-4 my-16">
  <div class="flex items-center justify-between pb-6 border-b dark:border-zinc-700 border-zinc-200">
    <h1 class="text-4xl font-medium font-heading text-zinc-900 dark:text-zinc-100 tracking-tight">Books</h1>
    <div class="flex items-center justify-end">
      <%= link_to "New Book", new_book_path, class: "btn btn-primary", style: "color: white;width: 120px" %>
    </div>
  </div>

  <div id="posts" class="divide-y divide-zinc-200 dark:divide-zinc-700">
    <%= render "filter_book" %>

    <% @books.each do |book| %>
      <div>
        <%= link_to book_path(book) do %>
          <h2 class="hover:underline text-primary-600 dark:text-primary-500"><%= book.title %></h2>
          <p>Autor: <%= book.author.name %></p>
        <% end %>
      </div>
    <% end %>


    <nav aria-label="Page navigation" class="text-zinc-600 sm:text-sm text-base font-medium" role="navigation">
      <br>
      <ul class="flex flex-wrap items-center sm:justify-between justify-center">
        <% if @pagy.prev %>
          <li class="sm:flex-1 flex justify-start items-center sm:w-auto w-full">
            <a href="<%= pagy_url_for(@pagy, @pagy.prev, url: url_for(params.to_unsafe_h.merge(only_path: true))) %>" class="btn btn-white flex items-center justify-center space-x-2 pl-3 group md:w-auto w-full md:mb-0 mb-3" style="text-decoration: none;">
              <%= icon "arrow-small-left", classes: "w-4 h-4 text-zinc-400 group-hover:text-primary-500 dark:group-hover:text-zinc-200" %>
              <span class="">Anterior</span>
            </a>
          </li>
        <% else %>
          <li>
            <a class="pagination-link" disabled>Anterior</a>
          </li>
        <% end %>

        <% @pagy.series.each do |item| %>
          <% if item.is_a? Integer %>
            <% if item == @pagy.page %>
              <li>
                <a href="<%= pagy_url_for(@pagy, item, url: url_for(params.to_unsafe_h.merge(only_path: true))) %>" class="w-10 h-10 flex items-center justify-center border-t-2 border-transparent rounded hover:bg-zinc-50 dark:hover:bg-zinc-500/30 dark:hover:text-zinc-200"  <%= item %>
                "><%= item %></a>
              </li>
            <% else %>
              <li>
                <a href="<%= pagy_url_for(@pagy, item, url: url_for(params.to_unsafe_h.merge(only_path: true))) %>" class="w-10 h-10 flex items-center justify-center border-t-2 border-transparent rounded hover:bg-zinc-50 dark:hover:bg-zinc-500/30 dark:hover:text-zinc-200"  <%= item %>
                "><%= item %></a>
              </li>
            <% end %>
          <% else %>
            <li><span class="pagination-ellipsis">&hellip;</span></li>
          <% end %>
        <% end %>

        <% if @pagy.next %>
          <li>
            <a href="<%= pagy_url_for(@pagy, @pagy.next, url: url_for(params.to_unsafe_h.merge(only_path: true))) %>" class="btn btn-white flex items-center justify-center space-x-2 pl-3 group md:w-auto w-full md:mb-0 mb-3">
              <%= icon "arrow-small-right", classes: "w-4 h-4 text-zinc-400 group-hover:text-primary-500 dark:group-hover:text-zinc-200" %>
              <span class="">Próxima</span>
            </a>
          </li>
        <% else %>
          <li>
            <a class="pagination-next" disabled>Próxima</a>
          </li>
        <% end %>
      </ul>
    </nav>

  </div>
</div>
