<!--Relatório de Livros contendo as peças com suas descrições, fornecedor e preço-->
<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Report Supplier</title>
</head>
<body>
<h1>Report Supplier</h1>
<div id="suppliers">
<!--Função que inicia o loop para verifica os livros existentes-->
  <% @books.each do |book| %>
    <h2>Book: <%= book.title %> / ISBN: <%= book.isbn %></h2>
      <thead><tr><th><strong>Assembly: </strong></th></tr></thead>
          <tbody>
            <tr><td><%= book.assembly.name%></td></tr>
              <ul>
                <% total_cost = 0 %>
                <% total_part = 0 %>
                <% book.assembly.parts.each do |part| %>
                  <li>
                    <strong>Name:</strong> <%= part.name %><br>
                    <strong>Description:</strong> <%= part.description %><br>
                    <strong>Price:</strong> <%= part.price %><br>
                    <strong>Supplier:</strong> <%= part.supplier.name %><br>
                    <strong><%= part.supplier.name %> - CNPJ:</strong> <%= part.supplier.formatted_cnpj %><br>
                    <% total_part += 1 %>
                    <% total_cost += part.price.to_i %>
                    <br>
                  </li>
                <% end %>
              </ul>
          </tbody>
      <tfoot>
        <tr>
          <li><td colspan="6" class="text-right"><strong>Part Number:</strong>  <%= total_part %></td><br></li>
          <li> <td colspan="6" class="text-right"><strong>Total Cost:</strong> R$ <%= total_cost %></td></li>
        </tr>
      </tfoot>
    <hr>
  <% end %>
</div>
</body>
</html>