<p style="color: green"><%= notice %></p>

<%= render @account %>

<div>
  <%= link_to "Edit this account", edit_supplier_account_path(@account.supplier_id, @account)%>
  <%= link_to "Back to accounts", supplier_path %>

  <%= button_to "Destroy this account", supplier_account_path, method: :delete %>
</div>
